<h3 style="color: red;">{{ section.blocks[0].settings.campaign-title }}</h3>
<p>{{ section.blocks[0].settings.campaign-description }}</p>
<h3 style="color: blue;">{{ section.blocks[1].settings.new-product-title }}</h3>
<p>{{ section.blocks[1].settings.new-product-description }}</p>
<h3 style="color: green;">{{ section.blocks[2].settings.news-title }}</h3>
<p>{{ section.blocks[2].settings.news-description }}</p>
{% schema %}
 {
   "name": "news-carousel",
   "settings": [
   ],
   "blocks": [
     {
       "type": "campaign",
       "name": "campaign",
       "settings": [
         {
          "type": "text",
          "label": "Title",
          "id": "campaign-title"
         },
         {
          "type": "textarea",
          "label": "Description",
          "id": "campaign-description"
         },
         {
          "type": "checkbox",
          "label": "Featured",
          "id": "campaign-featured"
         }
       ]
     },
     {
       "type": "new-product",
       "name": "new-product",
       "settings": [
         {
          "type": "text",
          "label": "Title",
          "id": "new-product-title"
         },
         {
          "type": "textarea",
          "label": "Description",
          "id": "new-product-description"
         },
         {
          "type": "checkbox",
          "label": "Featured",
          "id": "new-product-featured"
         }
       ]
     },
     {
       "type": "news",
       "name": "news",
       "settings": [
         {
          "type": "text",
          "label": "Title",
          "id": "news-title"
         },
         {
          "type": "textarea",
          "label": "Description",
          "id": "news-description"
         },
         {
          "type": "checkbox",
          "label": "Featured",
          "id": "news-featured"
         }
       ]
     }
   ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
